.btn {
    height: 35px;
    width: 35px;
    margin: 5px;
    border: 2px solid black;
    background: none;
    cursor: pointer;
    font-weight: bold;
}

.btn.complete {
    background: red;
    color: white;
}

.btn:hover {
    background-color: lightgray;
}

.btn.active {
    background-color: aqua;
}

.btn.active_complete {
    color: white;
    background-color: blueviolet;
}

.row{
    margin: auto;
    justify-content: center;
    display: flex;
}