table {
  margin: 1em auto;
}

td {
  height: 40px;
  width: 40px;
  border: 1px solid;
  text-align: center;
  font-weight: bold;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid;
}

tr:first-child td {
  border-top: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid;
}

.blocked {
  background-color: lightblue;
}

.active {
  background-color: lightsalmon;
}